In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("data/electricity-consumption-in-france-2019-2022.xlsx")

In [9]:
df.head()

                 date   Consomation eletric
0  2019-01-01 00:00:00                63028
1  2019-08-01 00:00:00                72241
2           01/15/2019                71740
3           01/22/2019                77543
4           01/29/2019                76566

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 164 non-null    object
 1   Consomation eletric  164 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.7+ KB

In [11]:
df.describe()

       Consomation eletric
count           164.000000
mean          55779.067073
std           10299.670911
min           40307.000000
25%           46786.000000
50%           52997.500000
75%           63826.250000
max           85629.000000